/.phive
/.phpdoc
/node_modules
/public/hot
/public/node_modules
/public/storage
/storage/*.key
/vendor
/tools
/.tools
.env
.env.backup
.phpunit.resultat.cache
Homestead.json
Homestead.yaml
npm-debug.log
phpdoc
worker.log
yarn-error.log
