html{
    font-size: 90%
}

body{
    /* background-color: rgba(197, 226, 230, 0.281); */
    min-width: 350px;
    height: 100vh;
    /* background-image: url('../../storage/img/fond-mayotte.jpg'); */
    /* background-size:1950px 1000px; */
    /* background-attachment: fixed; */
}

h1{
    font-size: 1rem !important;
}

.bg-fond{
    background-color: #f8fafc;
}

.class-ignoree{
    font-size: 1em;
}

.navbar-scroll-x{
    margin-top:50px
}

.top-50{
    margin-top: 50px
}

.navbar-mobile{
    left:-250px;
    /* top:50px; */
    z-index:1100;
    width:250px;
    font-size:1.1rem;
    transition:1s;
}

.mx--7{
    margin:-7px
}

.overflow-x-auto{
    overflow-x:auto
}

.overflow-y-auto{
    overflow-y:auto
}

.cursor-pointer{
    cursor:  pointer;
}

.cursor-default{
    cursor:  default;
}

a.non-cliquable, a.non-cliquable:hover{
    color:gray !important
}

.nul{
    color:gray;
    font-size: 1.7rem;
}

.victoire{
    color:green;
    font-size: 1.7rem;
}

.defaite{
    color:red;
    font-size: 1.7rem;
}

.select2 {
    width: 100% !important;
}

.bg-body{
    background-color: #000;
}

.thead-fixed th {
    position: -webkit-sticky;
    position: sticky;
    /* background: gray; */
    top: 50px;
    z-index: 2;
}
/*
.relegable{
    background-color: rgb(243, 192, 192) !important;
} */

.border-bottom-dashed{
    border-bottom: 1px dashed #000
}

.border-top-dashed{
    border-top: 1px dashed #000
}

.fanion-classement{
    width:25px;
}

.table-classement td{
    vertical-align: middle;
}

.vertical-align-middle{
    vertical-align: middle;
}

a:hover{
    text-decoration: none;
}

#navbar-scroll-x .btn-sm{
    border-radius: 20px;
    font-family:"Nunito", sans-serif;
}

.bloc-match-football{
    background-image: url('../../storage/img/terrain-de-foot-6.jpg');
    background-size :cover;
}

.bloc-equipe-dom, .bloc-equipe-ext{
    font-size:1rem;
    text-align: center;
}

.equipe-exterieur, .equipe-domicile{
    text-align: center;
}

.fanion-calendrier{
    width:35px;
}

.fanion-page-equipe{
    width:25px;
}

.equipe-align-auto{
    margin-bottom: auto;
}

.logo-align-auto{
    margin-top: auto;
}

.fanion-match{
    width:50px
}

.crud-titre{
    font-size: 1.1rem;
}

.bloc-score{
    font-size: 1.2rem;
}

.bloc-score input{
    width:50px;
    height: 30px;
    /* line-height: 30px; */
}

.note{
    width:50%
}

.border-bottom-calendrier{
    /* border-bottom: 3px double black !important; */
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.nom-competition{
    font-size: 1.2rem;
    line-height: 1rem;
}

/* Medium devices (tablets, 576px and up) => point de rupture bootstrap : SM */
@media (min-width: 576px) {
    html{
        font-size: 90%;
    }

    h1{
        font-size: 1.2rem !important;
    }

    .fanion-page-equipe{
        width:30px;
    }

    .bloc-equipe-dom, .bloc-equipe-ext{
        font-size:1.5rem;
    }

    .fanion-calendrier{
        width:40px;
    }

    .fanion-match{
        width:60px
    }

    .bloc-score{
        font-size: 1.8rem;
    }

    /* Page saisie de résultat */
    .bloc-score input{
        width:70px;
        height: 35px;
    }

    .note{
        width:35%
    }


    /* Large devices (desktops, 992px and up) => point de rupture bootstrap : LG */
    @media (min-width: 992px) {
        html{
            font-size: 100%;
        }

        h1{
            font-size: 1.4rem !important;
        }

        .fanion-page-equipe{
            width:35px;
        }

        .dernier-et-prochain-match{
            padding-left: 5px !important;
        }

        .equipe-align-auto, .logo-align-auto{
            margin: 0;
        }

        .bloc-equipe-dom, .bloc-equipe-ext{
            font-size:1.8rem;
            font-weight: 900;
        }

        .equipe-exterieur{
            text-align: right;
        }

        .equipe-domicile{
            text-align: left;
        }

        a.resultat, a.horaire{
            font-size:0.8rem
        }

        .bloc-score input{
            width:80px;
            height: 40px;
        }

        .note{
            width:25%
        }
    }
}
