*{
    box-sizing: border-box;
}

html{
    font-size: 90%;
    /* position: relative; */
    height: 100%;
}

body{
    /* background-color: rgba(197, 226, 230, 0.281); */
    min-width: 350px;
    height: 100%;
    /* font-family:Nunito,Tahoma,sans-serif; */
    /* background-color: rgba(255, 255, 255); */
    /* background-color: rgba(134, 134, 134, 0.157); */
    /* background-color: rgba(149, 151, 151, 0.157); */
    /* background-color: rgb(226, 245, 245); */
    /* background-color: #fff; */
    /* background-color: #ebeff3; */
    /* background-color: #c9d3df; */
    /* background-image: url('../storage/img/fond-ecran-mayotte.jpg'); */
    background-color: #e9f2fa;
    /* background-size:1950px 1000px; */
    background-attachment: fixed;
}

footer{
    bottom:0
}

.modal-body .dropdown-item:active{
    background-color: green;
}

.border-bottom-dashed{
    border-bottom: 1px dashed #000
}

.border-top-dashed{
    border-top: 1px dashed #000
}

.avatar{
    width:30px;
    height: 30px;
}

.border-bottom-nav.active,.border-bottom-nav:hover{
    border-top: 5px solid white;
    border-bottom: 5px solid green;
    /* color: green !important; */
    /* background-color: rgba(211, 211, 235, 0.521); */
}

.footer-social a{
    width: 40px;
}

a{
    color: green;
}

/* .journee{
    color:seagreen
} */

a:hover{
    text-decoration: none;
    color: rgb(8, 189, 8);
}

#navbar-scroll-x .btn-sm{
    border-radius: 20px;
    /* background-color: rgb(255, 255, 255); */
    /* border: 0; */
    color: gray;
    font-size: 1rem;
    border: 1px solid gray;
    /* font-family:"Nunito", sans-serif; */
    /* font-family:"Nunito", "Tahoma", sans-serif; */
}

#navbar-scroll-x .btn-sm:hover{
    color:green;
    background-color: #fff;
    border: 1px solid green;
}

.href-scroll-x{
    font-size: 1.05rem;
}

.href-scroll-x.active{
    /* border-top: 5px solid white; */
    /* border-bottom: 5px solid blue; */
    /* color: green !important; */
    /* background-color: rgba(211, 211, 235, 0.521); */
}

.fil-actu{
    font-size: 1rem;
}

.fil-actu p{
    padding:0;
    margin:0;
}

.text-green,a.text-green,a.text-green-light:hover{
    color:green !important
}

.calendrier{
    font-size: 0.9rem;
}

main .nom-sport{
    font-size: 1.2rem;
}

.top-main-site{
    margin-top: 60px
}

.bg-resultats{
    /* background-color: rgb(207, 206, 206); */
    /* box-shadow: 60px -16px teal;; */
    /* box-shadow: -10px -0 rgb(104, 184, 184); */
    /* box-shadow: -5px 0px 12px #aaa; */
    font-size: 0.9rem;
    /* margin-top: 30px; */
 }

.border-bottom-defaut,.border-bottom-sport{
   border-bottom: 1px gray solid;
}

.titre-article,.titre-page-article,.titre-premier-article{
    font-weight: bold;
    /* font-family:Verdana,sans-serif; */
}

.titre-premier-article{
    font-size: 20px;
    line-height: 22px;
}

.calendrier .equipe-exterieur{
    text-align: left;
}

.calendrier .equipe-domicile{
    text-align: right;
}

.font-size-1, .article, .font-size-1-rem, .navbar-mobile{
    font-size: 1rem;
}

.font-size-1-1{
    font-size: 1.1rem;
}

.titre-article{
    font-size: 19px;
    line-height: 21px;
}

.object-fit-cover{
    object-fit: cover;
}

.categorie{
    font-size:1.0rem;
    color:#000;
    font-weight: normal;
    color:gray;
    padding-bottom: 3px;
    display: block;
}

.cookie-consent{
    position: fixed;
    bottom: 0px;
    right:0px;
    z-index: 100;
    background: rgb(255, 255, 255);
    font-size: 1rem;
}

.titre-page-article{
    font-size:1.8rem
}

.img-ratio{
    width: 100%;
	height: auto;
}

.resume{
    font-size: 0.8rem !important;
}

/* a{
    color: blue;
} */

.bg-fond{
    background-color: #fff;
    /* background-color: #f8fafc; */
}

.text-blue-light{
    color:rgb(133, 216, 231)
}

.class-ignoree{
    font-size: 1em;
}

.infos-match{
    font-size: 0.9rem;
}

.mx--7{
    margin:-7px
}

.w-40, main .match-calendrier .bloc-dom, main .match-calendrier .bloc-ext{
    width:40%
}


.w-20, main .match-calendrier .bloc-sc{
    width:20%
}

main .score{
    font-size: 1.1em;
}

.tirs-au-but{
    font-size: 1em;
}

.overflow-x-auto{
    overflow-x:auto
}

.overflow-y-auto{
    overflow-y:auto
}

.overflow-x-hidden{
    overflow-x:hidden
}

.overflow-y-hidden{
    overflow-y:hidden
}

.cursor-pointer{
    cursor:  pointer;
}

.cursor-default{
    cursor:  default;
}

a.non-cliquable, a.non-cliquable:hover{
    color:gray !important
}

.nul{
    color:gray;
    font-size: 1.5rem;
}

.victoire{
    color:green;
    font-size: 1.5rem;
}

.defaite{
    color:red;
    font-size: 1.5rem;
}

.select2 {
    width: 100% !important;
}

.bg-body{
    background-color: #000;
}

.img_max_width_80{
    height:auto;
    max-width: 80%;
}
/*
.relegable{
    background-color: rgb(243, 192, 192) !important;
} */

.classement{
    font-size: 1rem;
}

.fanion-classement{
    width:25px;
}

.table-classement td{
    vertical-align: middle;
}

.vertical-align-middle{
    vertical-align: middle;
}

.bloc-match{
   background-size :cover;
   font-size: 1rem;
}

.bloc-equipe-dom, .bloc-equipe-ext{
    font-size:1.1rem;
    text-align: center;
    /* font-weight: bold; */
    /* font-family:Tahoma; */
}

.fanion-calendrier img{
    width:30px;
}

.fanion-calendrier-et-resultats{
    width:40px
}

.fanion-page-equipe{
    width:30px;
}

.equipe-align-auto{
    margin-bottom: auto;
}

.logo{
    width: 200px
}

.logo-align-auto{
    margin-top: auto;
}

.fanion-match{
    width:50px
}

.crud-titre{
    font-size: 1.1rem;
}

.bloc-score{
    font-size: 1.2rem;
}

.bloc-score input{
    width:50px;
    height: 30px;
    /* line-height: 30px; */
}

.border-bottom-calendrier{
    /* border-bottom: 3px double black !important; */
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.equipe-exterieur, .equipe-domicile{
    text-align: center;
}

.onglet{
   font-size: 1.05rem;
}

.onglet.active{
   background-color: #38c172 !important;
   /* background-color: tomato !important; */
}

.realisation{
    font-size: 0.9rem;
}

main .nom-competition{
    font-size: 1rem;
}

.text-red{
    color:red
}

/* Medium devices (tablets, 576px and up) => point de rupture bootstrap : SM */
@media (min-width: 576px) {
    .match-equipe{
        font-size: 1.0rem;
    }

    .titre-premier-article{
        font-size: 23px;
        line-height: 25px;
    }

    .titre-page-article{
        font-size: 2rem
    }

    .bloc-equipe-dom, .bloc-equipe-ext{
        font-size:1.3rem;
    }

    .bloc-score{
        font-size: 1.4rem;
    }

    .calendrier{
        font-size: 1rem;
    }

    .fanion-match{
        width:60px
    }

    /* Page saisie de résultat */
    .bloc-score input{
        width:70px;
        height: 35px;
    }

    .note{
        width:35%
    }

    /* Large devices (desktops, 768px and up) => point de rupture bootstrap : MD */
    @media (min-width: 768px) {
        html{
            font-size: 90%;
        }

        .equipe-align-auto, .logo-align-auto{
            margin: 0;
        }

        .fanion-page-equipe{
            width:35px;
        }

        .equipe-domicile{
            text-align: left;
        }
    
        .equipe-exterieur{
            text-align: right;
        }    

        /* Large devices (desktops, 992px and up) => point de rupture bootstrap : LG */
        @media (min-width: 992px) {
            html{
                font-size: 95%;
            }

            #section-droite .match-calendrier .bloc-dom, #section-droite .match-calendrier .bloc-ext{
                width:37.5%
            }
            
            #section-droite .match-calendrier .bloc-sc{
                width:25%
            }
        
            .bloc-match .equipe-exterieur, .bloc-match .equipe-domicile{
                text-align: center;
            }

            .shadow-div{
                /* box-shadow: -3px -3px 5px 5px rgb(216, 211, 211); */
                /* box-shadow: 5px 5px 5px rgb(216, 211, 211); */
                box-shadow:0 0 5px 3px rgb(184, 184, 184)
            }

            .border-bottom-sport{
                border-bottom: 1px green solid;
             }

            #section-droite .fanion-calendrier img{
                display:none
            }

            #section-droite .calendrier .equipe-exterieur{
                width: 100%;
                font-size: 0.9rem;
                text-align: right;
            }

            #section-droite .calendrier .equipe-domicile{
                width: 100%;
                font-size: 0.9rem;
                text-align: left;
            }

            #section-droite .calendrier{
                font-size: 0.9rem;
            }

            #section-droite .nom-sport{
                font-size: 1.1rem;
            }

            #section-droite .nom-competition{
                font-size: 1rem;
            }

            #section-droite{
                font-size: 0.7rem;
            }

            #section-droite .onglet{
                font-size:0.8rem
            }

            #section-droite .header-journee{
                font-size:1rem
            }

            .titre-premier-article{
                font-size: 28px;
                line-height: 30px;
            }

            .titre-page-article{
                font-size: 2rem;
            }

            .dernier-et-prochain-match{
                padding-left: 5px !important;
            }

            .bloc-equipe-dom, .bloc-equipe-ext{
                font-size:1.2rem;
            }

            a.resultat, a.horaire{
                font-size:0.8rem
            }

            .bloc-score input{
                width:80px;
                height: 40px;
            }

            .note{
                width:25%
            }

            /* Large devices (desktops, 992px and up) => point de rupture bootstrap : LG */
            @media (min-width: 1200px) {
                /* html{
                    font-size: 95%;
                } */

                #section-droite .score{
                    font-size: 1em;
                }

                #section-droite .fanion-calendrier img{
                    display:block;
                    width:22px
                }

                .bloc-match .equipe-domicile{
                    text-align: left;
                }
            
                .bloc-match .equipe-exterieur{
                    text-align: right;
                }  

                .onglet{
                    font-size: 1rem !important;
                 }

                 .bloc-equipe-dom, .bloc-equipe-ext{
                    font-size:1.3rem;
                }

                /* #section-droite .calendrier{
                    font-size: 0.85rem;
                } */

                /* #section-droite .calendrier,#section-droite .onglet,#section-droite .calendrier .equipe-exterieur,#section-droite .calendrier .equipe-domicile{
                    font-size:1rem
                } */

                /* #section-droite .calendrier .equipe-exterieur{
                    width: auto;
                    text-align: left;
                }
    
                #section-droite .calendrier .equipe-domicile{
                    width: auto;
                    text-align: right;
                } */
            }
        }
    }
}
