
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-trash-empty:before { content: '\e804'; } /* '' */
.icon-eye:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-list:before { content: '\e807'; } /* '' */
.icon-th-list:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-dribbble:before { content: '\f050'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-gplus-1:before { content: '\f0d5'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-dribbble-1:before { content: '\f17d'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */